<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>example</title>
    <link rel="stylesheet" href="../css/example.css">
</head>
<body>
    <div class="container">
        <img class="logo" src="https://example.com/logo.png" alt="your logo"/>
        <h2>Your template is inline styled!</h2>
        <p>
            <span class="email">john.doe@jodo.com</span> is ready to party.
        </p>
        <i class="copyright">Copyright &copy; 2016 Johnny Doe, Inc., All rights reserved</i>
    </div>
    <script src="//localhost:35729/livereload.js"></script>
</body>
</html>
